- var last_number = null
- var last_email = null
- var lastDate = null




#message_list
  if !isSingle
    if get.type != null
      - var type = `${get.type.toTitle()}`
    if get.include != null
      - var type = `${get.include.map((i) => `${i.toTitle()}`).join(", ")}`

        //- If type is set, output a custom title, otherwise use page title
        if type
            - var type = type.replace('Social', 'Social Media')
            h1= `${process.env.OFFENDER_NAME}’s Harassment via ${type}`
        else
            h1= `${process.env.PAGE_TITLE}`

  each item in evidenceItems
    include dividers/_number
    include dividers/_email
    include dividers/_date
    include _evidenceItem



