include _utils/_title
include _utils/_description

- var url = `${baseUrl}`

if get.type
    - var url = `${url}/${get.type}`

if isSingle
  - var url = `${url}/evidence-item/${item._id}`
  if item && ['video','voicemail'].includes(item.type)
      - var filename = item.filename

      if item.filename.includes(".mp3")
        - var filename = item.video_filename

  if filename
    - var filename = `${process.env.CDN}videos/${encodeURIComponent(filename).replace("%2F","/")}.webp`

- var type = 'article'
if get.type === 'video' || get.type === 'voicemail'
  - var type = 'video.other'

head
    title= title

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:type" content=`${type}`)
    meta(property="og:url" content=`${url}`)
    meta(property="og:title" content=title)
    meta(property="og:image" content=`${filename ? filename : process.env.DEFAULT_IMAGE}`)
    meta(property="og:description" content=description)
    meta(name="description" content=description)

    script(src="/libs/jquery/jquery.min.js" defer=true)
    script(src=`/public/js/gen.js?${versionStrings.js}` defer=true)
    script(src="/libs/lightbox2/js/lightbox.min.js" defer=true)


    script.
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '#{process.env.GTM_ID}');

    link(rel="stylesheet" type="text/css" href=`/public/css/style.css?${versionStrings.css}`)
    link(rel="stylesheet" type="text/css" href="/libs/lightbox2/css/lightbox.css")