doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1")
    url
        loc=`${process.env.BASE_URL}/`
    url
        loc=`${process.env.BASE_URL}/video`
    url
        loc=`${process.env.BASE_URL}/email`
    url
        loc=`${process.env.BASE_URL}/text`
    url
        loc=`${process.env.BASE_URL}/social`
    url
        loc=`${process.env.BASE_URL}/voicemail`
    include sitemap/_evidenceItem