doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1")
    url
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    include sitemap/_evidenceItem