doctype xml

urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1")
    url
        loc=`${baseUrl}/`
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        loc=`${baseUrl}/video`
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        loc=`${baseUrl}/email`
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        loc=`${baseUrl}/text`
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        loc=`${baseUrl}/social`
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    url
        loc=`${baseUrl}/voicemail`
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`
    include sitemap/_evidenceItem