// 
// Evidence Item - Header Info - Addresses
// 

// Display "from" information for incoming items
if item.direction === 'IN'

    span.number
        if item.type === 'email'
            - var uri = "mailto:"
        else if item.type === 'voicemail' || item.type === 'text'
            - var uri = "tel:"


        if uri
            strong #{item.fromName} 
            | &lt;#[a(href=`tel:+1${item.fromAddress}`) #{item.fromAddress}]&gt; 
        else
            strong #{item.fromName} 
            | &lt;#[strong #{item.fromAddress}]&gt; 
            
        | to 

// Display "victim" information for incoming and outgoing items
if item.victim === 'both'
    strong.jesse Jesse 
    | , 
    strong.shannon Shannon
else
    strong(class=item.victim) #{item.victim.toTitle()}
