include _contactInfo
include ../_utils/_title
include _audioObject
include _videoObject

- var datePublished = `${process.env.DEFAULT_DATE_PUBLISHED}`
if item
    - var datePublished = `${item.date_sent.toISOString()}`

script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "Article",
        "name": "#{title}",
        "headline": "#{title}",
        "image": "#{process.env.DEFAULT_IMAGE}",
        "author": {
            "@type": "Person",
            #[+contactInfo]
        },
        #[+audioObject]
        #[+videoObject]
        "publisher": {
            "@type": "Organization",
            "name": "#{process.env.DEFAULT_ORGANIZATION_NAME}",
            "logo": "#{process.env.DEFAULT_ORGANIZATION_LOGO}"
        },
        "datePublished": "#{datePublished}",
        "description": "#{process.env.PAGE_DESCRIPTION}"
    }