
mixin message(messageType)
    include _image
    include ../_utils/_title

    if messageType === 'text'
        - var phone = `,"telephone": "${item.direction === 'IN' ? item.fromAddress : 'REDACTED'}"`

    script(type="application/ld+json").
        {
            "@context": "https://schema.org/",
            "@type": "Message",
            "@id": "#{baseUrl}/evidence-item/#{item._id}",
            "sender": {
                "@type": "Person",
                "name": "#{from}"
                !{phone}
            },
            "recipient": {
                "@type": "Person",
                "name": "#{to}"
            },
            "image": "#{image}",
            "headline": "#{title}",
            "dateSent": "#{item.date_sent.toISOString()}"
        }