include _contactInfo

script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "VideoObject",
        "contentUrl": "#{process.env.CDN}videos/#{`${encodeURIComponent(item.filename)}`}",
        "name": "#{item.title}",
        "@id": "#{process.env.BASE_URL}/video/evidence-item/#{item._id}",
        "datePublished": "#{item.date_sent.toISOString()}",
        "uploadDate": "#{item.date_sent.toISOString()}",
        "duration": "#{formatDuration(item.duration).toUpperCase().replaceAll(" ", "")}",
        "encodingFormat": "video/mp4",
        "author": {
            "@type": "Person",
            #[+contactInfo]
        },
        "image": "#{process.env.CDN}videos/#{`${encodeURIComponent(item.filename)}`}.webp",
        "thumbnailURL": "#{process.env.CDN}videos/#{`${encodeURIComponent(item.filename)}`}.webp",
        "description": "Video posted by #{process.env.OFFENDER_NAME} to YouTube on #{item.date_sent.toLocaleString('en-US', { dateStyle: 'long', timeStyle: 'short', hour12: true })}",
        "transcript": "#{item.body.replace(/(\d)?\d:\d\d(:\d\d)?\n/g, '').replace(/\n/g, ' ')}"
    }