script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "Article",
        "name": "#{process.env.PAGE_TITLE}",
        "headline": "#{process.env.PAGE_TITLE}",
        "image": "#{process.env.DEFAULT_IMAGE}",
        "author": {
            "@type": "Person",
            "name": "#{process.env.OFFENDER_NAME}",
            "url": "#{process.env.OFFENDER_URL}"
        },
        "datePublished": "2024-01-01T00:00:00Z",
        "description": "#{process.env.PAGE_DESCRIPTION}"
    }
script(type="application/ld+json").
    {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "mainEntity": {
            "@type": "Person",
            "name": "#{process.env.OFFENDER_NAME}",
        }
    }
script(type="application/ld+json").
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "#{process.env.OFFENDER_NAME}"
    }
