script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "Article",
        "name": "#{process.env.PAGE_TITLE}",
        "headline": "#{process.env.PAGE_TITLE}",
        "image": "#{process.env.DEFAULT_IMAGE}",
        "author": {
            "@type": "Person",
            "name": "#{process.env.OFFENDER_NAME}",
            "url": "#{process.env.OFFENDER_URL}"
        },
        "datePublished": "2024-01-01T00:00:00Z",
        "description": "#{process.env.PAGE_DESCRIPTION}"
    }
script(type="application/ld+json").
    {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "mainEntity": {
            "@type": "Person",
            "name": "#{process.env.OFFENDER_NAME}",
        }
    }
script(type="application/ld+json").
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "#{process.env.OFFENDER_NAME}",
        "image": "#{process.env.DEFAULT_IMAGE}",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "#{process.env.OFFENDER_CITY}",
            "addressRegion": "#{process.env.OFFENDER_STATE}",
            "postalCode": "#{process.env.OFFENDER_ZIP}",
            "streetAddress": "#{process.env.OFFENDER_ADDRESS}",
            "addressCountry": "US"
        },
        "url": "#{process.env.OFFENDER_URL}",
        "priceRange": "$",
        "telephone": "#{process.env.OFFENDER_PHONE}"
    }
