- const [hours, minutes, seconds] = item.duration.split(':');

p.duration
    strong Duration: 
    |  #{formatDuration(item.duration)}

audio(preload=none, controls=true, src=process.env.CDN + 'voicemails/' + item.filename type="audio/mp3")

.transcript
    h1 Auto-transcription: 
    | !{item.body}
