// 
// Evidence Item - Header Info - Addresses
// 

// Display "from" information for incoming items
if item.direction === 'IN'

    span.number
        - var uri = null
        if item.type === 'email'
            - var uri = "mailto:"
        else if item.type === 'voicemail' || item.type === 'text'
            - var uri = "tel:+1-"
        else if item.type === 'social' && item.fromAddress.match(/^http/)
            - var uri = ""

        if item.direction === "IN" && item.fromName !== process.env.OFFENDER_NAME
            - var fromName = `"${item.fromName}" (${process.env.OFFENDER_NAME})`

        if uri != null
            strong #{fromName} 
            | &lt;#[a(href=`${uri}${item.fromAddress}`) #{item.fromAddress}]&gt; 
        else
            strong #{fromName} 
            | &lt;#[strong #{item.fromAddress}]&gt; 

        | to 

// Display "victim" information for incoming and outgoing items
if item.victim === 'both'
    strong.jesse Jesse 
    | , 
    strong.shannon Shannon
else
    strong(class=item.victim) #{item.victim.toTitle()}
