// 
// Email Evidence Item
// 

- var body = item.body_html ? item.body_html.replace(/font-size:\s?\d\dp[x|t];?/g, '') : item.body.replace(/\n/g, '<br/>')

div !{body.replace(/\d+ E \dth [A-Z]+[a-z]+/, '[JESSE\'S ADDRESS REDACTED]')}

include _attachments

- var image = process.env.DEFAULT_IMAGE
if item.attachments
    - var image = item.attachments?.length != null ? `${process.env.CDN}opt/attachments/${item.attachments[0].attachment_id}/${encodeURIComponent(item.attachments[0]?.filename.replace(/\.(jpg|jpeg|png)/, '.webp'))}` : process.env.DEFAULT_IMAGE
if item.screenshots
    - var image = item.screenshots?.length != null ? process.env.CDN + 'opt/screenshots/' + encodeURIComponent(item.screenshots[0].replace(/\.(jpg|jpeg|png)/, '.webp')) : process.env.DEFAULT_IMAGE


script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "Article",
        "author": {
            "@type": "Person",
            "name": "Brian Tiemeyer",
            "email": "#{item.from.trim().match(/(?:<(.+)>)/)[1]}",
            "url": "https://linktr.ee/the_brian_tiemeyer_experience"
        },
        "recipient": {
            "@type": "Person",
            "name": "#{item.victim.toTitle()}",
            "email": "redacted@redacted.com"
        },
        "image" : "#{image}",
        "headline": "#{item.subject ? item.subject : "(no subject)"}",
        "datePublished": "#{item.date_sent.toISOString()}"
    }