// 
// Social Media Evidence Item
// 

div !{item.body.replace(/\n/g,"<br/>")}

include _attachments

- var from = item.direction === 'IN' ? process.env.OFFENDER_NAME : item.victim.toTitle()
- var to = item.direction === 'IN' ? item.victim.toTitle() : process.env.OFFENDER_NAME

if item.screenshots
    - var image = item.screenshots?.length != null ? process.env.CDN + 'opt/screenshots/' + encodeURIComponent(item.screenshots[0].replace(/\.(jpg|jpeg|png)/, '.webp')) : process.env.DEFAULT_IMAGE

script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "Article",
        "author": {
            "@type": "Person",
            "name": "#{process.env.OFFENDER_NAME}",
            "url": "#{process.env.OFFENDER_URL}"
        },
        "recipient": {
            "@type": "Person",
            "name": "#{to}"
        },
        "image": "#{image}",
        "headline": "Social media message/post from #{from} to #{to} on #{item.date_sent.toLocaleString('en-US', { dateStyle: 'long', timeStyle: 'short', hour12: true })}",
        "datePublished": "#{item.date_sent.toISOString()}"
    }