// 
// Video Evidence Item
// 
- var videoUrl = `${cdn_url}videos/${encodeURIComponent(item.filename)}`

.title
    strong Original Title: 
    | #[em #{item.title}]
    
.duration
    strong Duration: 
    | #{formatDuration(item.duration)}

if item.filename
    video(preload="none" controls=true poster=`${videoUrl}.webp`)
        source(src=videoUrl type="video/mp4")

.transcript
    h1 #[span(class="hide") Hide]#[span(class="show") Show] Auto-transcription:
    .content !{formatVideoTranscript(item.body, item.duration)}

script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "VideoObject",
        "contentUrl": "#{process.env.CDN}videos/#{item.filename}",
        "name": "#{item.title}",
        "@id": "https://texts.lloydnet.org/evidence-item/#{item._id}",
        "datePublished": "#{item.date_sent.toISOString()}",
        "duration": "#{formatDuration(item.duration).toUpperCase().replace(' ', '')}",
        "encodingFormat": "video/mp4",
        "image": "#{process.env.CDN}videos/#{item.filename}.webp",
        "thumbnailURL": "#{process.env.CDN}videos/#{item.filename}.webp",
        "description": "Video posted by Brian Tiemeyer on  #{item.date_sent.toLocaleString('en-US', { dateStyle: 'long', timeStyle: 'short', hour12: true })}"
        "transcript": "#{item.body.replace(/(\d)?\d:\d\d(:\d\d)?\n/g, '').replace(/\n/g, ' ')}",
        "author": {
            "@type": "Person",
            "name": "Brian Tiemeyer"
        }
    }