.search_field
    strong Show: 
    - var checked = (get.include && get.include.includes("text")) || get.type == "text"
    input#display_texts(type="checkbox" name="include[]" value="text" checked=checked)
    label(for="display_texts")  Texts 

    - var checked = (get.include && get.include.includes("emails")) || get.type == "emails"
    input#display_emails(type="checkbox" name="include[]" value="email" checked=checked)
    label(for="display_emails")  Emails 

    - var checked = (get.include && get.include.includes("voicemail")) || get.type == "voicemail"
    input#display_voicemails(type="checkbox" name="include[]" value="voicemail" checked=checked)
    label(for="display_voicemails")  Voicemails 

    - var checked = (get.include && get.include.includes("video")) || get.type == "video"
    input#display_videos(type="checkbox" name="include[]" value="video" checked=checked)
    label(for="display_videos")  Videos 

    - var checked = (get.include && get.include.includes("social")) || get.type == "social"
    input#display_socials(type="checkbox" name="include[]" value="social" checked=checked)
    label(for="display_socials")  Social Media 