if item.type === "video"
    video:video
        video:thumbnail_loc
            | #{process.env.CDN}videos/#{`${encodeURIComponent(item.filename)}`}.webp
        video:title
            | #{item.title}
        video:description
            | Video posted by #{process.env.OFFENDER_NAME} to YouTube on #{item.date_sent.toLocaleString('en-US', { dateStyle: 'long', timeStyle: 'short', hour12: true })}
        video:content_loc
            | #{process.env.CDN}videos/#{`${encodeURIComponent(item.filename)}`}
        video:player_loc
            | #{process.env.CDN}videos/#{`${encodeURIComponent(item.filename)}`}
        video:duration
            | #{item.durationSeconds}
        video:family_friendly no