include /_utils/_title
include /_utils/_description

if ["video","voicemail"].includes(item.type)
    - var filename = item.filename

    if item.video_filename
        - var filename = item.video_filename

    video:video
        video:thumbnail_loc
            | #{cdnUrl}videos/#{`${encodeURIComponent(filename).replace("%2F", "/")}`}.webp
        video:title
            | #{title}
        video:description
            | #{description}
        video:content_loc
            | #{cdnUrl}videos/#{`${encodeURIComponent(filename).replace("%2F", "/")}`}
        video:duration
            | #{item.durationSeconds}