if item.screenshots
    .screenshots
        h3 Screenshots:
        each screenshot in item.screenshots
            - var imageUrl = `${cdnUrl}opt/screenshots/${screenshot.replace(/\.(jpg|jpeg|png)/i, '.webp')}`
            a(href=imageUrl data-lightbox=item._id) #[img(src=imageUrl alt=screenshot loading="lazy")]