// 
// Video Evidence Item
//
include ../structuredData/_videoObject

//- Setup video URL
- var videoUrl = `${cdnUrl}videos/${encodeURIComponent(item.filename).replace("%2F", "/")}`

//- Show original title of video
.title
    strong Original Title: 
    | #[em #{item.title}]

//- Show formatted duration of video
.duration
    strong Duration: 
    | #{formatDuration(item.duration)}

//- Show video player
.video
    video(preload="none" controls=true poster=`${videoUrl}.webp`)
        source(src=videoUrl type="video/mp4")
    include _transcript

//- Add VideoObject structured data
script(type="application/ld+json")
    +videoObject