// 
// Video Evidence Item
//
- var videoUrl = `${cdn_url}videos/${encodeURIComponent(item.filename).replace("%2F", "/")}`

.title
    strong Original Title: 
    | #[em #{item.title}]
    
.duration
    strong Duration: 
    | #{formatDuration(item.duration)}

.video
    video(preload="none" controls=true poster=`${videoUrl}.webp`)
        source(src=videoUrl type="video/mp4")
    include _transcript

include ../structuredData/_videoObject