// 
// Video Evidence Item
// 
- var videoUrl = `${cdn_url}videos/${encodeURIComponent(item.filename)}`

.title
    strong Original Title: 
    | #[em #{item.title}]
    
.duration
    strong Duration: 
    | #{formatDuration(item.duration)}

if item.filename
    video(preload="none" controls=true poster=`${videoUrl}.webp`)
        source(src=videoUrl type="video/mp4")

.transcript
    h1 #[span(class="hide") Hide]#[span(class="show") Show] Auto-transcription:
    .content !{formatVideoTranscript(item.body, item.duration)}

include ../structuredData/_videoObject