// 
// Video Evidence Item
//
- var videoUrl = `${cdnUrl}videos/${encodeURIComponent(item.filename).replace("%2F", "/")}`

include ../structuredData/_videoObject


.title
    strong Original Title: 
    | #[em #{item.title}]
    
.duration
    strong Duration: 
    | #{formatDuration(item.duration)}

.video
    video(preload="none" controls=true poster=`${videoUrl}.webp`)
        source(src=videoUrl type="video/mp4")
    include _transcript

script(type="application/ld+json")
    +videoObject