// 
// Voicemail Evidence Item
// 
include ../structuredData/_contactInfo

p.duration
    strong Duration: 
    |  #{formatDuration(item.duration)}

audio(preload=none, controls=true, src=`${process.env.CDN}voicemails/${item.filename}` type="audio/mp3")

.transcript
    h2 #[span(class="hide") ➖ Hide]#[span(class="show") ➕ Show] Auto-transcription
    .content !{item.body.replace(/\n/g, '<br/>')}

include ../structuredData/_audioObject