// 
// Voicemail Evidence Item
// 
include ../structuredData/_contactInfo
include ../structuredData/_audioObject
include ../structuredData/_videoObject

//- Set video URL for video player
- var videoUrl = `${cdnUrl}voicemails/${encodeURIComponent(item.video_filename).replace("%2F", "/")}`

//- Show formatted duration of voicemail
p.duration
    strong Duration: 
    |  #{formatDuration(item.duration)}

//- Video filename is set, show video player for evidence item
if item.video_filename != null

    //- Add video element and transcript to evidence item
    .video
        video(preload="none" controls=true poster=`${videoUrl}.webp`)
            source(src=videoUrl type="video/mp4")

    //- Include VideoObject structured data
    script(type="application/ld+json")
        +videoObject

//- Video filename is NOT set, show audio player for evidence item
else
    audio(preload=none, controls=true, src=`${cdnUrl}voicemails/${item.filename}` type="audio/mp3")

//- Include transcript on all voicemail evidence items
include _transcript

//- Include AudioObject structured data
script(type="application/ld+json")
    +audioObject
