// 
// Voicemail Evidence Item
// 
include ../structuredData/_contactInfo
include ../structuredData/_audioObject

p.duration
    strong Duration: 
    |  #{formatDuration(item.duration)}

audio(preload=none, controls=true, src=`${process.env.CDN}voicemails/${item.filename}` type="audio/mp3")

include _transcript

script(type="application/ld+json")
    +audioObject