// 
// Voicemail Evidence Item
// 
include ../structuredData/_contactInfo
include ../structuredData/_audioObject
include ../structuredData/_videoObject

p.duration
    strong Duration: 
    |  #{formatDuration(item.duration)}

if item.video_filename != null
    - var videoUrl = `${process.env.CDN}voicemails/${encodeURIComponent(item.video_filename)}`

    .video
        video(preload="none" controls=true poster=`${videoUrl}.webp`)
            source(src=videoUrl type="video/mp4")
        include _transcript
        
    script(type="application/ld+json")
        +videoObject
else
    audio(preload=none, controls=true, src=`${process.env.CDN}voicemails/${item.filename}` type="audio/mp3")

    include _transcript

    script(type="application/ld+json")
        +audioObject