// 
// Evidence Item - Header Info - Addresses
// 

// Display "from" information for incoming items
if item.direction === 'IN'

    span.number
        strong Brian Tiemeyer 
        if item.type === 'email'
            - var from = item.from.trim().match(/(?:<(.+)>)/)[1]
            | &lt;<a href="mailto:#{from}">#{from}</a>&gt; 
        else if item.type === 'video'
            | &lt;YouTube&gt; 
        else
            - var from = formatPhone(item.from)
            | &lt;<a href="tel:+1#{item.from}">#{from}</a>&gt; 
        strong to 

// Display "victim" information for incoming and outgoing items
if item.victim === 'both'
    strong.jesse Jesse 
    | , 
    strong.shannon Shannon
else
    strong(class=item.victim) #{item.victim.toTitle()}
