// 
// Evidence Item - Header Info - Addresses
// 

// Display "from" information for incoming items
if item.direction === 'IN'

    span.number
        if item.type === 'email'
            - var email = item.from.trim().match(/(?:<(.+)>)/)[1]
            - var name = item.from.trim().replace(`<${email}>`, '')
            | #[strong #{name}] &lt;<a href="mailto:#{email}">#{email}</a>&gt; 
        else if item.type === 'video'
            | #[strong Brian Tiemeyer] &lt;YouTube&gt; 
        else if item.type === 'voicemail' || item.type === 'text'
            - var from = formatPhone(item.from)
            | #[strong Brian Tiemeyer] &lt;<a href="tel:+1#{item.from}">#{from}</a>&gt; 
        else
            - var site = item.from.trim().match(/(?:<(.+)>)/)[1]
            - var name = item.from.trim().replace(`<${site}>`, '')
            | #[strong #{name}] &lt;#{site}</a>&gt; 
            
        strong to 

// Display "victim" information for incoming and outgoing items
if item.victim === 'both'
    strong.jesse Jesse 
    | , 
    strong.shannon Shannon
else
    strong(class=item.victim) #{item.victim.toTitle()}
